<div class="block--flex block--flex__align-center block--flex__justify-center block--flex__direction-column block--height-100vh">
    <h2 class="text--white text--size-32 block-width-max-50 text--center block--padding-b-15">
        Bienvenue dans le projet test Angular
    </h2>
    <p class="text--white block--width-max-50 text--center">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo distinctio laborum saepe animi quibusdam iusto commodi nemo, dicta ipsam! Error et excepturi provident eum rem a maxime nostrum soluta expedita.
    </p>
</div>